{% paginate collection.products by 6 %}
    {% for product in collection.products %}
        
    {% else %}
        <p>there are no products in this collection</p>
    {% endfor %}

    {% render 'pagination', pagination: paginate %}
{% endpaginate %}